@import '../variables.css';

.desktopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 368px;
    height: 150px;
    border: 1px solid var(--white);
    background-image:
        linear-gradient(
            to right,
            var(--lightGrey1),
            var(--lightGrey3)
        );
}

.mobileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 150px;
    border-bottom: 1px solid var(--white);
    background-image:
        linear-gradient(
            var(--lightBlueGrey),
            var(--lightGrey3)
        );
}

.searchBoxHeader {
    font-family: 'Pacifico', cursive;
    font-size: var(--font3);
    margin-top: 35px;
}

.smallInputContainer {
    width: 282px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: var(--font1);
}

.largeInputContainer {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: var(--font2);
}

.smallInputContainer input {
    padding: 0px 35px 0px 85px;
}

.largeInputContainer input {
    padding: 0px 50px 0px 100px;
}

.inputLongShadow {
    box-shadow: var(--lightGrey2) 1px 1px,
    var(--lightGrey2) 2px 2px,
    var(--lightGrey2) 3px 3px,
    var(--lightGrey2) 4px 4px,
    var(--lightGrey2) 5px 5px,
    var(--lightGrey2) 6px 6px,
    var(--lightGrey2) 7px 7px,
    var(--lightGrey2) 8px 8px,
    var(--lightGrey2) 9px 9px,
    var(--lightGrey2) 10px 10px,
    var(--lightGrey2) 11px 11px,
    var(--lightGrey2) 12px 12px,
    var(--lightGrey2) 13px 13px,
    var(--lightGrey2) 14px 14px,
    var(--lightGrey2) 15px 15px,
    var(--lightGrey2) 16px 16px,
    var(--lightGrey2) 17px 17px,
    var(--lightGrey2) 18px 18px,
    var(--lightGrey2) 19px 19px,
    var(--lightGrey2) 20px 20px,
    var(--lightGrey2) 21px 21px,
    var(--lightGrey2) 22px 22px,
    var(--lightGrey2) 23px 23px,
    var(--lightGrey2) 24px 24px,
    var(--lightGrey2) 25px 25px,
    var(--lightGrey2) 26px 26px,
    var(--lightGrey2) 27px 27px,
    var(--lightGrey2) 28px 28px,
    var(--lightGrey2) 29px 29px,
    var(--lightGrey2) 30px 30px,
    var(--lightGrey2) 31px 31px,
    var(--lightGrey2) 32px 32px,
    var(--lightGrey2) 33px 33px,
    var(--lightGrey2) 34px 34px,
    var(--lightGrey2) 35px 35px,
    var(--lightGrey2) 36px 36px,
    var(--lightGrey2) 37px 37px,
    var(--lightGrey2) 38px 38px,
    var(--lightGrey2) 39px 39px,
    var(--lightGrey2) 40px 40px,
    var(--lightGrey2) 41px 41px,
    var(--lightGrey2) 42px 42px,
    var(--lightGrey2) 43px 43px;
}

.smallInputPrompt {
    pointer-events: none;
    position: absolute;
    top: 6px;
    left: 10px;
    font-weight: bold;
}

.largeInputPrompt {
    pointer-events: none;
    position: absolute;
    top: 13px;
    left: 10px;
    font-weight: bold;
}

.smallInputIcon {
    position: absolute;
    top: 8px;
    right: 15px;
}

.largeInputIcon {
    position: absolute;
    top: 14px;
    right: 15px;
}
