@import '../variables.css';

body {
    margin: 0;
}

.desktopContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image:
        linear-gradient(
            to bottom right,
            var(--light-yellow) 30%,
            var(--light-blue)
        );
}

.mobileContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image:
        linear-gradient(
            var(--light-blue),
            var(--light-yellow) 30%
        );
}

.logo {
    margin: 60px auto;
}
