@import '../variables.css';

.desktopContainer {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image:
        linear-gradient(
            to bottom right,
            var(--lightYellow) 30%,
            var(--lightBlue)
        );
}

.mobileContainer {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image:
        linear-gradient(
            var(--lightBlue),
            var(--lightYellow) 30%
        );
}

.logo {
    margin: 60px auto;
}
