:root {
    --light-yellow: #F7F4D7;
    --light-blue: #AFD5E1;
    --light-blue-grey: #E9F2F0;
    --light-grey1: #FCFAEE;
    --light-grey2: #EBEEE7;
    --light-grey3: #F1F6EF;
    --white: white;
    --darkOrange: #E99866;
    --lightOrange: #E3B168;
    --bright-blue: #88DBEF;
}

:root {
    --font1: 16px;
    --font2: 20px;
    --font3: 24px;
}
