:root {
    --lightYellow: #F7F4D7;
    --lightBlue: #AFD5E1;
    --lightBlue-grey: #E9F2F0;
    --lightGrey1: #FCFAEE;
    --lightGrey2: #EBEEE7;
    --lightGrey3: #F1F6EF;
    --white: white;
    --offWhite: #E2E2E4; /* Meteocon icon inversion gives this color */
    --darkOrange: #E99866;
    --lightOrange: #E3B168;
    --brightBlue: #88DBEF;
}

:root {
    --font-1: 10px;
    --font1: 14px;
    --font2: 16px;
    --font3: 20px;
    --font4: 24px;
    --font5: 32px;
}
