@import '../variables.css';

.desktopReportListContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto;
    width: 80%;
}

.mobileReportListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.smallReportContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 4px;
    width: 220px;
    height: 75px;
    border-radius: 4px;
}

.largeReportContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    width: 280px;
    height: 120px;
    border-radius: 4px;
}

.largeIconAndNameContainer {
    width: 140px;
    height: 100%;
}

.darkOrange {
    background-color: var(--darkOrange);
}

.lightOrange {
    background-color: var(--lightOrange);
}

.brightBlue {
    background-color: var(--brightBlue);
}

.meteocon {
    filter: invert(100%);
}

.smallIcon {
    margin: auto 5px;
    height: 60px;
}

.largeIcon {
    margin: 5px 0 5px 15px;
    height: 80px;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.degreesContainer {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: var(--offWhite);
}

.degreesContainerSmall {
    margin: 0 auto;
}

.degreesContainerLarge {
    margin: auto;
}

.degreesSmall {
    font-size: var(--font5);
}

.degreesLarge {
    font-size: var(--font6);
}

.degreesMarkerSmall {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: 12px;
    font-size: var(--font-1);
}

.degreesMarkerLarge {
    margin-left: 2px;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: 24px;
    font-size: var(--font1);
    font-weight: 400;
}

.cityName {
    color: var(--offWhite);
    font-size: var(--font1);
    font-family: 'Lato', sans-serif;
}

.smallCityName {
    margin: 7px auto;
    font-weight: 700;
    width: 120px;
    text-align: center;
}

.largeCityName {
    margin-left: 15px;
    font-weight: 400;
    width: 140px;
}

.ellipsis {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.removeIcon {
    position: absolute;
    filter: invert(100%);
    top: 5px;
    right: 6px;
}

.removeIcon:hover {
    filter: invert(75%);
}

.reportEnter {
    left: -100%;
}

.reportEnterActive {
    left: 0px;
    transition: left 500ms ease-in;
}

.reportExit {
    opacity: 1;
}

.reportExitActive {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
