@import '../variables.css';

.desktopReportListContainer {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.reportContainer {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 200px;
    border-radius: 4px;
}

.darkOrange {
    background-color: var(--darkOrange);
}

.lightOrange {
    background-color: var(--lightOrange);
}

.brightBlue {
    background-color: var(--brightBlue);
}
